{% extends 'base.html' %}
{% block title %}Expense Report{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Expense Report</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Total Expense</th>
                </tr>
            </thead>
            <tbody>
                {% for category_expense in category_expenses %}
                    <tr>
                        <td>{{ category_expense.category.name }}</td>
                        <td>${{ category_expense.total_expense }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
