{% extends 'base.html' %}
{% block title %}Books{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mt-4 mb-4">Book Information</h2>

    <ul class="list-group">
      {% for book in books %}
        <li class="list-group-item">
          {{ book.title }} - {{ book.author }} - {{ book.publishing_date }} - {{ book.category.name }} - {{ book.distribution_expenses }}
          <div class="btn-group" role="group" aria-label="Book Actions">
            <a href="{% url 'book_update' pk=book.pk %}" class="btn btn-outline-primary btn-sm">Edit</a>
            <a href="{% url 'book_delete' pk=book.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="{% url 'book_create' %}" class="btn btn-success mt-4">Add Book</a>
  </div>
{% endblock %}
